@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;800&display=swap');
		body{
			font-family: 'Montserrat', sans-serif;
			background-image: url("../images/background.png");
			background-repeat:no-repeat;
			background-size:cover;
		}
		
		* {
		  box-sizing: border-box;
		}
		
		/* container paddings */
		.container {
		  padding: 19px;
		  background-color: #e9599c;
		  width: 50%;
		  color: white;
		  margin: auto;
		}
		
		/* Full-width input fields */
		  input[type=text], input[type=date],input[type=number],input[type=bgroup], input[type=email], input[type=password] {
		  padding: 15px;
		  width: 100%;
		  margin: 5px 0 22px 0;
		  display: inline-block;
		  border: none;
		  background: #ffffff;
		}
		
		input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
		  background-color: #ddd;
		  outline: none;
		}
		
		

		/* Overwrite default styles of hr */
		hr {
		  border: 1px solid #f1f1f1;
		  margin-bottom: 25px;
		}
		
		/* css for the submit button */
		.registerbtn {
		  background-color: #c9e265;
		  color: black;
		  font-weight: bold;
		  padding: 16px 20px;
		  margin: 8px 0;
		  border: none;
		  cursor: pointer;
		  width: 100%;
		  opacity: 0.9;
		}
		
		.registerbtn:hover {
		  opacity: 1;
		}

		/* Add a blue text color to links */
		a {
		  color: dodgerblue;
		}
		
		/* Set grey background color and center the text of the "sign in" section */
		.signin {
		  background-color: #ab1f60;
		  text-align: center;
		}
		